.main-layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vw;

  .header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    background-color: #325780;
    height: 40px;
    padding: 16px;

    .logo-side {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 40px;
      padding: 16px;

      h1 {
        color: white;
      }
    }

    .nav-side {
      margin-left: auto;

      .nav-loading{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: coral;
      }
      nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ul {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          padding: 0 16px;
          gap: 16px;

          a {
            text-decoration: none;
            color: aqua;
          }
        }
      }
    }
  }
  .outlet-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 100vw;
    background-color: #2C2D37;
    padding: 48px;
  }
}
